.lab-title {
  text-align: center;
  color: red;
  text-decoration: underline;
  font-size: large;
  font-weight: 600;
}
.lab-search-container {
  width: 500px;
  background: #d7d3d35e;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 5px rgb(147, 147, 147);
}

.lab-search-container p {
  margin-bottom: 5px;
  font-weight: bold;
}

.lab-header-div-input {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 8px;
  padding: 0px 10px;
}

.lab-addclinecs-button {
  background-color: red;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 5px 15px;
  font-weight: 600;
  box-shadow: 0px 2px 2px gray;
}

.lab-table-div {
  background: #d7d3d35e;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgb(147, 147, 147);
}

